h1{
    color: #510E1F;
}
h2 {
    color: #265251;
}
h3{
    color: #FC7D1E;
}
h4{
    color: #D2340D;
}
body {
    background-color: #EACE9E;
}

.h1{
    color: #510E1F;
}

.h2{
 color: #265251;
}

.h3{
    color: #FC7D1E;
}

.h4{
    color: #D2340D;
}
#temaki-hot{
    color: blue;
}